@{
  Layout = "_Layout";
}

@using BestRestaurants.Models
@model BestRestaurants.Models.Review

<h4>Add a review</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    @Html.LabelFor(model => model.UserReview)
    @Html.TextBoxFor(model => model.UserReview)
    @Html.LabelFor(model => model.UserRating)
    @Html.DropDownListFor(model => model.UserRating,
    new SelectList(Enum.GetValues(typeof(UserRating))),
    "Select Rating")

    @Html.LabelFor(model => model.Restaurant)
    @Html.DropDownList("RestaurantId")

    <input type="submit" value="Add new review" />
}
<p>@Html.ActionLink("Back to Restaurants", "Index", "Restaurants")</p>