@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Restaurant

<h2>Restaurant Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h3>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</h3>
<h3>@Html.DisplayNameFor(model => model.Rating): @Html.DisplayFor(model => model.Rating)</h3>


  @foreach (var review in ViewBag.Reviews)
  {
    <hr />
    <li>@review.Name</li>
    <li>@review.UserReview</li>
    <li>@review.UserRating</li>
  }


<p>@Html.ActionLink("Review Restaurant", "Create", "Reviews")</p>
<p>@Html.ActionLink("Edit Restaurant", "Edit", new { id = Model.RestaurantId})</p>
<p>@Html.ActionLink("Delete Restaurant", "Delete", new { id = Model.RestaurantId})</p>
<p>@Html.ActionLink("Back to list", "Index")</p>

